html {
  scroll-behavior: smooth;
}

body {
  background: #202020;
  color: white;
  font-family: 'Raleway', sans-serif;
}

#mainNavbar {
  height: 70px;
  font-size: 1.5em;
  font-weight: 400
}

.bg-dark {
  background: #FF5E33 !important;
}

.jumbotron {
  position: relative;
  background: url(./Images/austin-schmid-jumping-lady.jpg) center center / cover no-repeat;
  padding: 5em inherit;
  color: #FFF;
  padding-top: 15%;
  padding-bottom: 15%;
  top: 70px;
}

.jumbotron h1 {
  font-weight: 500;
}

.btn-success {
  background: #FF5E33;
  margin-top: 5px;
  margin-bottom: 15px;
}

.btn-success:hover {
  background: #333;
}

.article {
  padding-top: 10%;
}
.addArticle {
  padding-top: 10%;
}

.btn-third {
  background-color: #f4511e;
  border: black;
  margin-left: 25px;
}

.badge-secondary {
  font-size: 12px;
  font-weight: bolder;
  background-color: lightblue;
}

.lead {
  white-space: nowrap; 
  /* width: 75em;  */
  overflow: hidden;
  text-overflow: ellipsis;
}